.main-container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color:#c2c2c2;
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 40px;
    border: none;
}

.header{
    background-color:#e0e0e0;
    padding: 1px;
    width: 100%;
    box-sizing: border-box;
}

.header h1{
    font-size: 24px;
    padding-left: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header .textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    border-top: solid 2px gray;
    height: 140px;
    margin-bottom: 2px;
}
.header p{
    font-size: 15px;
    padding-left: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.msg{
    text-align:left;
    font-size: 13px;
    padding-left: 13px;
    padding-top: 2px;
}
.bottom-buttons{
    padding: 5px;
    padding-left: 13px;
}
.bottom-btn{
    border: none;
    outline: none;
    background-color:#c2c2c2;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 5px;
    display: inline-flex;
    color: black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bottom-btn:hover{
    background-color: rgb(77, 70, 70);
}

.count-function{
    padding: 15px;
    font-size: 14px;
}